[package]
name = "ferveo-python"
authors = ["Piotr Roslaniec <p.roslaniec@gmail.com>"]
version = "0.1.5"
edition = "2018"

[lib]
crate-type = ["cdylib"]
name = "ferveo_py"

[dependencies]
ferveo = { path = "../ferveo" }
ferveo-common = { path = "../ferveo-common" }
pyo3 = { version = "0.18.2", features = ["macros", "extension-module"] }
derive_more = { version = "0.99", default-features = false, features = ["from", "as_ref"] }
rand = "0.8"

[build-dependencies]
pyo3-build-config = "*"
